<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

 <main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6"></div>
            <h1><%= title %></h1>
            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/contact-List/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Contact</a>
            <% } %>
            <br>
            <table class=" table table-bordered table-striped table-hover">

                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">ContactNumber</th>
                    <th class="text-center">Email</th>
                    <% if(typeof displayName == 'string' && displayName) { %>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                    <% } %>
                </tr>

                <% for(let count = 1; count < BookList.length; count++){%>
                    <tr>
                        <td class="text-center"><%= BookList[count].name %></td>
                        <td class="text-center"><%= BookList[count].ContactNumber %></td>
                        <td class="text-center"><%= BookList[count].Email %></td>
                        <% if(typeof displayName == 'string' && displayName) { %>

                        <td class="text-center col-1">
                            <a href="/contact-List/edit/<%= BookList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/contact-List/delete/<%= BookList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                        <% } %>
    
                    </tr>
                <% } %>
            </table>
        </div>
                    
    </div>
       
 </main>

 <%- include ../partials/bottom_nav.ejs %>
 <%- include ../partials/footer.ejs %>